<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>启圣道国际跆拳道</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
<div class="container">
    <div class="header">
        <div class="top-banner">
            <img src="/img/banner001.jpg" alt="/img/banner001.jpg">
            <div class="contact">
                <img src="/img/tkd.png" alt="tkd">
                <div class="tel">
                    <p>联系方式：</p>
                    <p class="number">1888888888</p>
                </div>
            </div>
        </div>
        <nav class="menu">
            <ul class="clearfix">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/">关于我们</a></li>
                <li><a href="/">教学配置</a></li>
                <li><a href="/">新闻动态</a></li>
                <li><a href="/">联系我们</a></li>

            </ul>
        </nav>
    </div>

